<footer class="ps-footer">
        <div class="ps-footer__content">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                        <div class="ps-site-info">
                            <h3>Contacto</h3>
                            <p>Sobre Angel Shadows</p>
                            <figure>
                                <p><i class="icon-paperplane"></i> Miraflores, Perú</p>
                                <p><i class="icon-phone"></i> +1-12345 - 6789</p>
                                <p><i class="icon-envelope-o"></i><a href=""><span class="__cf_email__" data-cfemail="8ce8e3e1ede5e2cce9f4ede1fce0e9a2efe3e1">@Angel Shadowsperu.com</span></a></p>
                            </figure>
                        </div>
                    </div>
                   
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="widget widget_footer">
                            <h3 class="widget-title">Prendas</h3>
                            <ul>
                                <li><a href="#">Boddy</a></li>
                                <li><a href="#">Transparentes</a></li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="widget widget_footer">
                            <h3 class="widget-title">Lingerie</h3>
                            <ul>
                                <li><a href="#">Corset</a></li>
                                <li><a href="#">Mayas</a></li>
                                <li><a href="#">BABY DOLL</a></li>
                                
                            </ul>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="ps-footer__copyright">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12  "><a class="ps-logo" href="index.html"><img src="assets/tiendaV/img/logo-black.png" alt=""></a>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12  ">
                        <div class="ps-footer__social">
                            <ul class="ps-list--social">
                                <li><a class="facebook" href="#"><i class="icon-facebook2"></i></a></li>
                                <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                                <li><a class="instagram" href="#"><i class="icon-instagram"></i></a></li>
                                <li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
                                <li><a class="behance" href="#"><i class="icon-behance"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="icon-linkedin2"></i></a></li>
                            </ul>
                            <p>© Copyright 2023 Angel Shadows. Todos los derechos reservados</p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12  ">
                        <div class="ps-footer__payment"><img src="assets/tiendaV/img/payment.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>