	<header class="header header--2 header--2-full" data-sticky="true">
        <nav class="navigation">
            <div class="navigation__left"><a class="menu__action" href="#">
                    <div class="menu-toggle"><span></span></div><span>Menu</span>
                </a>
                <div class="ps-block--phone-number">
                    <div class="ps-block__left"><i class="icon-phone-call"></i></div>
                    <div class="ps-block__right">
                        <p>Escribenos: <br> + 51-1234555678</p>
                    </div>
                </div>
                <ul class="menu">
                   
                    <li class="menu-item-has-children"><a href="#">Catalogo</a>
                    </li>
                   
                </ul>
            </div>
            <div class="navigation__center"><a class="ps-logo" href="index.html"><img src="assets/tiendaV/img/logo-black.png" alt=""></a></div>
            <div class="navigation__right">
                <ul class="menu">
                    
                    <li><a href="#">Angel Shadows</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
                <div class="header__actions">
                    <div class="ps-cart"><a class="ps-cart__toggle" href="#"><span><i>20</i></span><i class="icon-cart3"></i></a>
                        <div class="ps-cart__listing">
                            <div class="ps-cart__content">
                                <div class="ps-cart-item"><a class="ps-cart-item__close" href="#"></a>
                                    <div class="ps-cart-item__thumbnail"><a href=""></a><img src="assets/tiendaV/img/products/sidebar-1.jpg" alt="">
                                    </div>
                                    <div class="ps-cart-item__content"><a class="ps-cart-item__title" href="">Kingsman</a>
                                        <p><span>Cantidad:<i>12</i></span><span>Total:<i>£176</i></span></p>
                                    </div>
                                </div>
                                <div class="ps-cart-item"><a class="ps-cart-item__close" href="#"></a>
                                    <div class="ps-cart-item__thumbnail"><a href=""></a><img src="assets/tiendaV/img/products/sidebar-2.jpg" alt="">
                                    </div>
                                    <div class="ps-cart-item__content"><a class="ps-cart-item__title" href="">Joseph</a>
                                        <p><span>Cantidad:<i>12</i></span><span>Total:<i>£176</i></span></p>
                                    </div>
                                </div>
                                <div class="ps-cart-item"><a class="ps-cart-item__close" href="#"></a>
                                    <div class="ps-cart-item__thumbnail"><a href=""></a><img src="assets/tiendaV/img/products/sidebar-3.jpg" alt="">
                                    </div>
                                    <div class="ps-cart-item__content"><a class="ps-cart-item__title" href="">Todd Snyder</a>
                                        <p><span>Cantidad:<i>12</i></span><span>Total:<i>£176</i></span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-cart__total">
                                <p>Productos:<span>36</span></p>
                                <p>Total:<span>£528.00</span></p>
                            </div>
                            <div class="ps-cart__footer"><a href="">Chequear</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <nav class="navigation--sidebar">
        <ul class="menu">
           
            <li class="menu-item-has-children"><a href="#">Catalogo</a>
            </li>
            <li><a href="#">Angel Shadows</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
   <!--  <header class="header--mobile">
        <nav class="navigation">
            <div class="container">
                <div class="menu-toggle"><span></span></div><a class="ps-logo" href="index.html"><img src="assets/tiendaV/img/logo.png" alt=""></a>
                <div class="header__actions"><a class="ps-search-btn" href="#"><i class="aroma-magnifying-glass"></i></a>
                    <div class="ps-cart"><a class="ps-cart__toggle" href="#"><span><i>20</i></span><i class="icon-cart3"></i></a>
                        <div class="ps-cart__listing">
                            <div class="ps-cart__content">
                                <div class="ps-cart-item"><a class="ps-cart-item__close" href="#"></a>
                                    <div class="ps-cart-item__thumbnail"><a href=""></a><img src="assets/tiendaV/img/products/sidebar-1.jpg" alt="">
                                    </div>
                                    <div class="ps-cart-item__content"><a class="ps-cart-item__title" href="">Kingsman</a>
                                        <p><span>Cantidad:<i>12</i></span><span>Total:<i>£176</i></span></p>
                                    </div>
                                </div>
                                <div class="ps-cart-item"><a class="ps-cart-item__close" href="#"></a>
                                    <div class="ps-cart-item__thumbnail"><a href=""></a><img src="assets/tiendaV/img/products/sidebar-2.jpg" alt="">
                                    </div>
                                    <div class="ps-cart-item__content"><a class="ps-cart-item__title" href="">Joseph</a>
                                        <p><span>Cantidad:<i>12</i></span><span>Total:<i>£176</i></span></p>
                                    </div>
                                </div>
                                <div class="ps-cart-item"><a class="ps-cart-item__close" href="#"></a>
                                    <div class="ps-cart-item__thumbnail"><a href=""></a><img src="assets/tiendaV/img/products/sidebar-3.jpg" alt="">
                                    </div>
                                    <div class="ps-cart-item__content"><a class="ps-cart-item__title" href="">Todd Snyder</a>
                                        <p><span>Cantidad:<i>12</i></span><span>Total:<i>£176</i></span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-cart__total">
                                <p>Productos:<span>36</span></p>
                                <p>Total:<span>£528.00</span></p>
                            </div>
                            <div class="ps-cart__footer"><a href="">Chequear</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header> -->
    <nav class="navigation--mobile visible-lg">
        <ul class="menu">
           
            <li class="menu-item-has-children"><a href="#">Catalogo</a>
            </li>            
            <li><a href="#">Angel Shadows</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
