

<header class="header header--2 header--2-full" data-sticky="true">
        <nav class="navigation">
            <div class="navigation__left"><a class="menu__action" href="#">
                    <div class="menu-toggle"><span></span></div><span>Menu</span>
                </a>
                <div class="ps-block--phone-number">
                    <div class="ps-block__left"><i class="icon-phone-call"></i></div>
                    <div class="ps-block__right">
                        <p>Escribenos: <br> + 51-1234555678</p>
                    </div>
                </div>
                <ul class="menu">
                   
                    <li class="menu-item-has-children"><a href="#">Catalogo</a>
                    </li>
                   
                </ul>
            </div>
            <div class="navigation__center"><a class="ps-logo" href="index.html"><img src="assets/tiendaV/img/logo-black.png" alt=""></a></div>
            <div class="navigation__right">
                <ul class="menu">
                    
                    <li><a href="#">Angel Shadows</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
                <div class="header__actions">
                    <div class="ps-cart"><a class="ps-cart__toggle" href="#"><span><i>20</i></span><i class="icon-cart3"></i></a>
                        <div class="ps-cart__listing">
                            <div class="ps-cart__content">
                                <div class="ps-cart-item"><a class="ps-cart-item__close" href="#"></a>
                                    <div class="ps-cart-item__thumbnail"><a href=""></a><img src="assets/tiendaV/img/products/sidebar-1.jpg" alt="">
                                    </div>
                                    <div class="ps-cart-item__content"><a class="ps-cart-item__title" href="">Kingsman</a>
                                        <p><span>Cantidad:<i>12</i></span><span>Total:<i>£176</i></span></p>
                                    </div>
                                </div>
                                <div class="ps-cart-item"><a class="ps-cart-item__close" href="#"></a>
                                    <div class="ps-cart-item__thumbnail"><a href=""></a><img src="assets/tiendaV/img/products/sidebar-2.jpg" alt="">
                                    </div>
                                    <div class="ps-cart-item__content"><a class="ps-cart-item__title" href="">Joseph</a>
                                        <p><span>Cantidad:<i>12</i></span><span>Total:<i>£176</i></span></p>
                                    </div>
                                </div>
                                <div class="ps-cart-item"><a class="ps-cart-item__close" href="#"></a>
                                    <div class="ps-cart-item__thumbnail"><a href=""></a><img src="assets/tiendaV/img/products/sidebar-3.jpg" alt="">
                                    </div>
                                    <div class="ps-cart-item__content"><a class="ps-cart-item__title" href="">Todd Snyder</a>
                                        <p><span>Cantidad:<i>12</i></span><span>Total:<i>£176</i></span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-cart__total">
                                <p>Productos:<span>36</span></p>
                                <p>Total:<span>£528.00</span></p>
                            </div>
                            <div class="ps-cart__footer"><a href="">Chequear</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <nav class="navigation--sidebar">
        <ul class="menu">
           
            <li class="menu-item-has-children"><a href="#">Catalogo</a>
            </li>
            <li><a href="#">Angel Shadows</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
    <header class="header--mobile">
        <nav class="navigation">
            <div class="container">
                <div class="menu-toggle"><span></span></div><a class="ps-logo" href="index.html"><img src="assets/tiendaV/img/logo.png" alt=""></a>
                <div class="header__actions"><a class="ps-search-btn" href="#"><i class="aroma-magnifying-glass"></i></a>
                    <div class="ps-cart"><a class="ps-cart__toggle" href="#"><span><i>20</i></span><i class="icon-cart3"></i></a>
                        <div class="ps-cart__listing">
                            <div class="ps-cart__content">
                                <div class="ps-cart-item"><a class="ps-cart-item__close" href="#"></a>
                                    <div class="ps-cart-item__thumbnail"><a href=""></a><img src="assets/tiendaV/img/products/sidebar-1.jpg" alt="">
                                    </div>
                                    <div class="ps-cart-item__content"><a class="ps-cart-item__title" href="">Kingsman</a>
                                        <p><span>Cantidad:<i>12</i></span><span>Total:<i>£176</i></span></p>
                                    </div>
                                </div>
                                <div class="ps-cart-item"><a class="ps-cart-item__close" href="#"></a>
                                    <div class="ps-cart-item__thumbnail"><a href=""></a><img src="assets/tiendaV/img/products/sidebar-2.jpg" alt="">
                                    </div>
                                    <div class="ps-cart-item__content"><a class="ps-cart-item__title" href="">Joseph</a>
                                        <p><span>Cantidad:<i>12</i></span><span>Total:<i>£176</i></span></p>
                                    </div>
                                </div>
                                <div class="ps-cart-item"><a class="ps-cart-item__close" href="#"></a>
                                    <div class="ps-cart-item__thumbnail"><a href=""></a><img src="assets/tiendaV/img/products/sidebar-3.jpg" alt="">
                                    </div>
                                    <div class="ps-cart-item__content"><a class="ps-cart-item__title" href="">Todd Snyder</a>
                                        <p><span>Cantidad:<i>12</i></span><span>Total:<i>£176</i></span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-cart__total">
                                <p>Productos:<span>36</span></p>
                                <p>Total:<span>£528.00</span></p>
                            </div>
                            <div class="ps-cart__footer"><a href="">Chequear</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <nav class="navigation--mobile visible-lg">
        <ul class="menu">
           
            <li class="menu-item-has-children"><a href="#">Catalogo</a>
            </li>            
            <li><a href="#">Angel Shadows</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
    <div id="homepage-9">
       <div class="ps-home-banner">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <div class="ps-carousel--dots owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="false" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on"><a href="#"><img src="assets/tiendaV/img/banner/home-9/1.jpg" alt=""></a><a href="#"><img src="assets/tiendaV/img/banner/home-9/2.jpg" alt=""></a></div>
                    </div>
                    <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12 "><a class="ps-block--collection" href="#"><img src="assets/tiendaV/img/collection/home-9/1.jpg" alt=""></a><a class="ps-block--collection" href="#"><img src="assets/tiendaV/img/collection/home-9/2.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div> 
        
        <div class="ps-section ps-home-feature">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12  ">
                        <div class="ps-section__header">
                            <h3>Angel Shadows</h3>
                            <p>Nacidas para brillar</p>
                        </div>
                        <div class="ps-section__content">
                            <p>Se tu misma, se Angel Shadows, se sexy, luce tu esencia con nuestras maravillosas prendas.</p><a class="ps-btn ps-btn--black" href="#">Ver catalogo</a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-12 ">
                        <div class="ps-product">
                            <div class="ps-product__thumbnail"><span class="ps-product__badge"><i>45% <br> off</i></span><a class="ps-product__overlay" href=""></a><img src="assets/tiendaV/img/products/arrival-1.jpg" alt="">
                                <ul class="ps-product__actions">
                                    <li><a href="#"><i class="icon-heart-o"></i></a></li>
                                    <li><a href="#"><i class="icon-bar-chart"></i></a></li>
                                    <li><a href="#"><i class="icon-eye3"></i></a></li>
                                </ul><a class="ps-product__shopping" href="">+ Ver detalle</a>
                            </div>
                            <div class="ps-product__content">
                                <div class="ps-product__meta"><a href="#">Men</a>
                                </div><a class="ps-product__title" href="">Front knotted crepe body</a>
                                <p class="ps-product__price">
                                    <del>$168.99</del>- $178.99
                                </p>
                                <select class="ps-rating">
                                    <option value="1">1</option>
                                    <option value="1">2</option>
                                    <option value="1">3</option>
                                    <option value="1">4</option>
                                    <option value="2">5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-12 ">
                        <div class="ps-product">
                            <div class="ps-product__thumbnail"><a class="ps-product__overlay" href=""></a><img src="assets/tiendaV/img/products/arrival-2.jpg" alt="">
                                <ul class="ps-product__actions">
                                    <li><a href="#"><i class="icon-heart-o"></i></a></li>
                                    <li><a href="#"><i class="icon-bar-chart"></i></a></li>
                                    <li><a href="#"><i class="icon-eye3"></i></a></li>
                                </ul><a class="ps-product__shopping" href="">+ Ver detalle</a>
                            </div>
                            <div class="ps-product__content">
                                <div class="ps-product__meta"><a href="#">Men</a>
                                </div><a class="ps-product__title" href="">White sport shoes</a>
                                <p class="ps-product__price"> $78.99
                                </p><span class="ps-product__rating">4 Review available</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-12 ">
                        <div class="ps-product">
                            <div class="ps-product__thumbnail"><span class="ps-product__badge"><i>45% <br> off</i></span><a class="ps-product__overlay" href=""></a><img src="assets/tiendaV/img/products/arrival-3.jpg" alt="">
                                <ul class="ps-product__actions">
                                    <li><a href="#"><i class="icon-heart-o"></i></a></li>
                                    <li><a href="#"><i class="icon-bar-chart"></i></a></li>
                                    <li><a href="#"><i class="icon-eye3"></i></a></li>
                                </ul><a class="ps-product__shopping" href="">+ Ver detalle</a>
                            </div>
                            <div class="ps-product__content">
                                <div class="ps-product__meta"><a href="#">Watches</a>
                                    <div class="ps-product__color"><a class="ps-color ps-color--1" href="#"></a><a class="ps-color ps-color--2" href="#"></a><a class="ps-color ps-color--3" href="#"></a></div>
                                </div><a class="ps-product__title" href="">Scalloped body</a>
                                <p class="ps-product__price">
                                    <del>$168.99</del>- $18.99
                                </p><span class="ps-product__rating">4 Review available</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-site-features">
            <div class="container">
                <div class="ps-block--features">
                    <div class="row ps-col-tiny">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 ">
                            <div class="ps-block--feature">
                                <div class="ps-block__left"><i class="icon-paper-plane-o"></i></div>
                                <div class="ps-block__right">
                                    <p>Envios a todo el Perú</p><small>...</small>
                                </div>
                            </div>
                        </div>
                     
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 ">
                            <div class="ps-block--feature">
                                <div class="ps-block__left"><i class="icon-credit-card"></i></div>
                                <div class="ps-block__right">
                                    <p>100% pagos seguros</p><small>PayPal / MasterCard / Visa</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 ">
                            <div class="ps-block--feature">
                                <div class="ps-block__left"><i class="icon-support2"></i></div>
                                <div class="ps-block__right">
                                    <p>24/7 Soporte</p><small>Consultas y pedidos </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="ps-section ps-new-arrivals ps-new-arrivals--fullwidth">
                <div class="ps-section__header">
                    <h3>¿Estas lista para seducir?</h3>
                    <p>En Angel Shadows encuentras prendas HOT</p>
                </div>
                <div class="ps-section__content">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
                            <div class="ps-product">
                                <div class="ps-product__thumbnail"><span class="ps-product__badge"><i>45% <br> off</i></span><a class="ps-product__overlay" href=""></a><img src="assets/tiendaV/img/products/arrival-1.jpg" alt="">
                                    <ul class="ps-product__actions">
                                        <!-- <li><a href="#"><i class="icon-heart-o"></i></a></li>
                                        <li><a href="#"><i class="icon-bar-chart"></i></a></li>
                                        <li><a href="#"><i class="icon-eye3"></i></a></li> -->
                                    </ul><a class="ps-product__shopping" href="">+ Ver detalle</a>
                                </div>
                                <div class="ps-product__content">
                                    <div class="ps-product__meta"><a href="#">Men</a>
                                    </div><a class="ps-product__title" href="">Front knotted crepe body</a>
                                    <p class="ps-product__price">
                                        <del>$168.99</del>- $178.99
                                    </p>
                                    <select class="ps-rating">
                                        <option value="1">1</option>
                                        <option value="1">2</option>
                                        <option value="1">3</option>
                                        <option value="1">4</option>
                                        <option value="2">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
                            <div class="ps-product">
                                <div class="ps-product__thumbnail"><a class="ps-product__overlay" href=""></a><img src="assets/tiendaV/img/products/arrival-2.jpg" alt="">
                                    <ul class="ps-product__actions">
                                        <!-- <li><a href="#"><i class="icon-heart-o"></i></a></li>
                                        <li><a href="#"><i class="icon-bar-chart"></i></a></li>
                                        <li><a href="#"><i class="icon-eye3"></i></a></li> -->
                                    </ul><a class="ps-product__shopping" href="">+ Ver detalle</a>
                                </div>
                                <div class="ps-product__content">
                                    <div class="ps-product__meta"><a href="#">Men</a>
                                    </div><a class="ps-product__title" href="">White sport shoes</a>
                                    <p class="ps-product__price"> $78.99
                                    </p><span class="ps-product__rating">4 Review available</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
                            <div class="ps-product">
                                <div class="ps-product__thumbnail"><span class="ps-product__badge"><i>45% <br> off</i></span><a class="ps-product__overlay" href=""></a><img src="assets/tiendaV/img/products/arrival-3.jpg" alt="">
                                    <ul class="ps-product__actions">
                                        <!-- <li><a href="#"><i class="icon-heart-o"></i></a></li>
                                        <li><a href="#"><i class="icon-bar-chart"></i></a></li>
                                        <li><a href="#"><i class="icon-eye3"></i></a></li> -->
                                    </ul><a class="ps-product__shopping" href="">+ Ver detalle</a>
                                </div>
                                <div class="ps-product__content">
                                    <div class="ps-product__meta"><a href="#">Watches</a>
                                        <div class="ps-product__color"><a class="ps-color ps-color--1" href="#"></a><a class="ps-color ps-color--2" href="#"></a><a class="ps-color ps-color--3" href="#"></a></div>
                                    </div><a class="ps-product__title" href="">Scalloped body</a>
                                    <p class="ps-product__price">
                                        <del>$168.99</del>- $18.99
                                    </p><span class="ps-product__rating">4 Review available</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
                            <div class="ps-product">
                                <div class="ps-product__thumbnail"><a class="ps-product__overlay" href=""></a><img src="assets/tiendaV/img/products/arrival-4.jpg" alt="">
                                    <ul class="ps-product__actions">
                                        <!-- <li><a href="#"><i class="icon-heart-o"></i></a></li>
                                        <li><a href="#"><i class="icon-bar-chart"></i></a></li>
                                        <li><a href="#"><i class="icon-eye3"></i></a></li> -->
                                    </ul><a class="ps-product__shopping" href="">+ Ver detalle</a>
                                </div>
                                <div class="ps-product__content">
                                    <div class="ps-product__meta"><a href="#">Women</a>
                                    </div><a class="ps-product__title" href="">Denim vintage skirt</a>
                                    <p class="ps-product__price"> $84.99
                                    </p><span class="ps-product__rating">4 Review available</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
                            <div class="ps-product">
                                <div class="ps-product__thumbnail"><a class="ps-product__overlay" href=""></a><img src="assets/tiendaV/img/products/arrival-5.jpg" alt="">
                                    <ul class="ps-product__actions">
                                        <!-- <li><a href="#"><i class="icon-heart-o"></i></a></li>
                                        <li><a href="#"><i class="icon-bar-chart"></i></a></li>
                                        <li><a href="#"><i class="icon-eye3"></i></a></li> -->
                                    </ul><a class="ps-product__shopping" href="">+ Ver detalle</a>
                                </div>
                                <div class="ps-product__content">
                                    <div class="ps-product__meta"><a href="#">Women</a>
                                        <div class="ps-product__color"><a class="ps-color ps-color--1" href="#"></a><a class="ps-color ps-color--2" href="#"></a><a class="ps-color ps-color--3" href="#"></a></div>
                                    </div><a class="ps-product__title" href="">Ethnic embroidered blouse</a>
                                    <p class="ps-product__price"> $124.50
                                    </p><span class="ps-product__rating">4 Review available</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
                            <div class="ps-product">
                                <div class="ps-product__thumbnail"><a class="ps-product__overlay" href=""></a><img src="assets/tiendaV/img/products/arrival-6.jpg" alt="">
                                    <ul class="ps-product__actions">
                                        <!-- <li><a href="#"><i class="icon-heart-o"></i></a></li>
                                        <li><a href="#"><i class="icon-bar-chart"></i></a></li>
                                        <li><a href="#"><i class="icon-eye3"></i></a></li> -->
                                    </ul><a class="ps-product__shopping" href="">+ Ver detalle</a>
                                </div>
                                <div class="ps-product__content">
                                    <div class="ps-product__meta"><a href="#">Women</a>
                                    </div><a class="ps-product__title" href="">Motif organic cotton t-shirt</a>
                                    <p class="ps-product__price">
                                        <del>$53.00</del>- $24.50
                                    </p><span class="ps-product__rating">4 Review available</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
                            <div class="ps-product">
                                <div class="ps-product__thumbnail"><a class="ps-product__overlay" href=""></a><img src="assets/tiendaV/img/products/arrival-7.jpg" alt="">
                                    <ul class="ps-product__actions">
                                        <!-- <li><a href="#"><i class="icon-heart-o"></i></a></li>
                                        <li><a href="#"><i class="icon-bar-chart"></i></a></li>
                                        <li><a href="#"><i class="icon-eye3"></i></a></li> -->
                                    </ul><a class="ps-product__shopping" href="">+ Ver detalle</a>
                                </div>
                                <div class="ps-product__content">
                                    <div class="ps-product__meta"><a href="#">Women</a>
                                    </div><a class="ps-product__title" href="">Hooded body sweatshirt</a>
                                    <p class="ps-product__price"> $84.50
                                    </p><span class="ps-product__rating">4 Review available</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
                            <div class="ps-product">
                                <div class="ps-product__thumbnail"><a class="ps-product__overlay" href=""></a><img src="assets/tiendaV/img/products/arrival-8.jpg" alt="">
                                    <ul class="ps-product__actions">
                                        <!-- <li><a href="#"><i class="icon-heart-o"></i></a></li>
                                        <li><a href="#"><i class="icon-bar-chart"></i></a></li>
                                        <li><a href="#"><i class="icon-eye3"></i></a></li> -->
                                    </ul><a class="ps-product__shopping" href="">+ Ver detalle</a>
                                </div>
                                <div class="ps-product__content">
                                    <div class="ps-product__meta"><a href="#">Women</a>
                                        <div class="ps-product__color"><a class="ps-color ps-color--1" href="#"></a><a class="ps-color ps-color--2" href="#"></a><a class="ps-color ps-color--3" href="#"></a></div>
                                    </div><a class="ps-product__title" href="">Hooded body sweatshirt</a>
                                    <p class="ps-product__price"> $84.50
                                    </p><span class="ps-product__rating">4 Review available</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
                            <div class="ps-product">
                                <div class="ps-product__thumbnail"><span class="ps-product__badge"><i>45% <br> off</i></span><a class="ps-product__overlay" href=""></a><img src="assets/tiendaV/img/products/arrival-1.jpg" alt="">
                                    <ul class="ps-product__actions">
                                        <!-- <li><a href="#"><i class="icon-heart-o"></i></a></li>
                                        <li><a href="#"><i class="icon-bar-chart"></i></a></li>
                                        <li><a href="#"><i class="icon-eye3"></i></a></li> -->
                                    </ul><a class="ps-product__shopping" href="">+ Ver detalle</a>
                                </div>
                                <div class="ps-product__content">
                                    <div class="ps-product__meta"><a href="#">Men</a>
                                    </div><a class="ps-product__title" href="">Front knotted crepe body</a>
                                    <p class="ps-product__price">
                                        <del>$168.99</del>- $178.99
                                    </p>
                                    <select class="ps-rating">
                                        <option value="1">1</option>
                                        <option value="1">2</option>
                                        <option value="1">3</option>
                                        <option value="1">4</option>
                                        <option value="2">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
                            <div class="ps-product">
                                <div class="ps-product__thumbnail"><a class="ps-product__overlay" href=""></a><img src="assets/tiendaV/img/products/arrival-2.jpg" alt="">
                                    <ul class="ps-product__actions">
                                        <!-- <li><a href="#"><i class="icon-heart-o"></i></a></li>
                                        <li><a href="#"><i class="icon-bar-chart"></i></a></li>
                                        <li><a href="#"><i class="icon-eye3"></i></a></li> -->
                                    </ul><a class="ps-product__shopping" href="">+ Ver detalle</a>
                                </div>
                                <div class="ps-product__content">
                                    <div class="ps-product__meta"><a href="#">Men</a>
                                    </div><a class="ps-product__title" href="">White sport shoes</a>
                                    <p class="ps-product__price"> $78.99
                                    </p><span class="ps-product__rating">4 Review available</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
                            <div class="ps-product">
                                <div class="ps-product__thumbnail"><span class="ps-product__badge"><i>45% <br> off</i></span><a class="ps-product__overlay" href=""></a><img src="assets/tiendaV/img/products/arrival-3.jpg" alt="">
                                    <ul class="ps-product__actions">
                                        <!-- <li><a href="#"><i class="icon-heart-o"></i></a></li>
                                        <li><a href="#"><i class="icon-bar-chart"></i></a></li>
                                        <li><a href="#"><i class="icon-eye3"></i></a></li> -->
                                    </ul><a class="ps-product__shopping" href="">+ Ver detalle</a>
                                </div>
                                <div class="ps-product__content">
                                    <div class="ps-product__meta"><a href="#">Watches</a>
                                        <div class="ps-product__color"><a class="ps-color ps-color--1" href="#"></a><a class="ps-color ps-color--2" href="#"></a><a class="ps-color ps-color--3" href="#"></a></div>
                                    </div><a class="ps-product__title" href="">Scalloped body</a>
                                    <p class="ps-product__price">
                                        <del>$168.99</del>- $18.99
                                    </p><span class="ps-product__rating">4 Review available</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
                            <div class="ps-product">
                                <div class="ps-product__thumbnail"><a class="ps-product__overlay" href=""></a><img src="assets/tiendaV/img/products/arrival-4.jpg" alt="">
                                    <ul class="ps-product__actions">
                                        <!-- <li><a href="#"><i class="icon-heart-o"></i></a></li>
                                        <li><a href="#"><i class="icon-bar-chart"></i></a></li>
                                        <li><a href="#"><i class="icon-eye3"></i></a></li> -->
                                    </ul><a class="ps-product__shopping" href="">+ Ver detalle</a>
                                </div>
                                <div class="ps-product__content">
                                    <div class="ps-product__meta"><a href="#">Women</a>
                                    </div><a class="ps-product__title" href="">Denim vintage skirt</a>
                                    <p class="ps-product__price"> $84.99
                                    </p><span class="ps-product__rating">4 Review available</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
                            <div class="ps-product">
                                <div class="ps-product__thumbnail"><a class="ps-product__overlay" href=""></a><img src="assets/tiendaV/img/products/arrival-5.jpg" alt="">
                                    <ul class="ps-product__actions">
                                        <!-- <li><a href="#"><i class="icon-heart-o"></i></a></li>
                                        <li><a href="#"><i class="icon-bar-chart"></i></a></li>
                                        <li><a href="#"><i class="icon-eye3"></i></a></li> -->
                                    </ul><a class="ps-product__shopping" href="">+ Ver detalle</a>
                                </div>
                                <div class="ps-product__content">
                                    <div class="ps-product__meta"><a href="#">Women</a>
                                        <div class="ps-product__color"><a class="ps-color ps-color--1" href="#"></a><a class="ps-color ps-color--2" href="#"></a><a class="ps-color ps-color--3" href="#"></a></div>
                                    </div><a class="ps-product__title" href="">Ethnic embroidered blouse</a>
                                    <p class="ps-product__price"> $124.50
                                    </p><span class="ps-product__rating">4 Review available</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
                            <div class="ps-product">
                                <div class="ps-product__thumbnail"><a class="ps-product__overlay" href=""></a><img src="assets/tiendaV/img/products/arrival-6.jpg" alt="">
                                    <ul class="ps-product__actions">
                                        <!-- <li><a href="#"><i class="icon-heart-o"></i></a></li>
                                        <li><a href="#"><i class="icon-bar-chart"></i></a></li>
                                        <li><a href="#"><i class="icon-eye3"></i></a></li> -->
                                    </ul><a class="ps-product__shopping" href="">+ Ver detalle</a>
                                </div>
                                <div class="ps-product__content">
                                    <div class="ps-product__meta"><a href="#">Women</a>
                                    </div><a class="ps-product__title" href="">Motif organic cotton t-shirt</a>
                                    <p class="ps-product__price">
                                        <del>$53.00</del>- $24.50
                                    </p><span class="ps-product__rating">4 Review available</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
                            <div class="ps-product">
                                <div class="ps-product__thumbnail"><a class="ps-product__overlay" href=""></a><img src="assets/tiendaV/img/products/arrival-7.jpg" alt="">
                                    <ul class="ps-product__actions">
                                        <!-- <li><a href="#"><i class="icon-heart-o"></i></a></li>
                                        <li><a href="#"><i class="icon-bar-chart"></i></a></li>
                                        <li><a href="#"><i class="icon-eye3"></i></a></li> -->
                                    </ul><a class="ps-product__shopping" href="">+ Ver detalle</a>
                                </div>
                                <div class="ps-product__content">
                                    <div class="ps-product__meta"><a href="#">Women</a>
                                    </div><a class="ps-product__title" href="">Hooded body sweatshirt</a>
                                    <p class="ps-product__price"> $84.50
                                    </p><span class="ps-product__rating">4 Review available</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="ps-section__footer text-center"><a class="ps-btn ps-btn--outline ps-btn--black" href="#">Load More</a></div> -->
            </div>
        </div>
        
        <div class="ps-instagram">
            <div class="owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="1000" data-owl-gap="0" data-owl-nav="false" data-owl-dots="false" data-owl-item="8" data-owl-item-xs="5" data-owl-item-sm="6" data-owl-item-md="8" data-owl-item-lg="8" data-owl-duration="1000" data-owl-mousedrag="on"><a href="#"><img src="assets/tiendaV/img/instagram/1.jpg" alt=""></a><a href="#"><img src="assets/tiendaV/img/instagram/2.jpg" alt=""></a><a href="#"><img src="assets/tiendaV/img/instagram/3.jpg" alt=""></a><a href="#"><img src="assets/tiendaV/img/instagram/4.jpg" alt=""></a><a href="#"><img src="assets/tiendaV/img/instagram/5.jpg" alt=""></a><a href="#"><img src="assets/tiendaV/img/instagram/6.jpg" alt=""></a><a href="#"><img src="assets/tiendaV/img/instagram/7.jpg" alt=""></a><a href="#"><img src="assets/tiendaV/img/instagram/8.jpg" alt=""></a></div>
        </div>
    </div>
    <footer class="ps-footer">
        <div class="ps-footer__content">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                        <div class="ps-site-info">
                            <h3>Contacto</h3>
                            <p>Sobre Angel Shadows</p>
                            <figure>
                                <p><i class="icon-paperplane"></i> Miraflores, Perú</p>
                                <p><i class="icon-phone"></i> +1-12345 - 6789</p>
                                <p><i class="icon-envelope-o"></i><a href=""><span class="__cf_email__" data-cfemail="8ce8e3e1ede5e2cce9f4ede1fce0e9a2efe3e1">@Angel Shadowsperu.com</span></a></p>
                            </figure>
                        </div>
                    </div>
                   
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="widget widget_footer">
                            <h3 class="widget-title">Prendas</h3>
                            <ul>
                                <li><a href="#">Boddy</a></li>
                                <li><a href="#">Transparentes</a></li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="widget widget_footer">
                            <h3 class="widget-title">Lingerie</h3>
                            <ul>
                                <li><a href="#">Corset</a></li>
                                <li><a href="#">Mayas</a></li>
                                <li><a href="#">BABY DOLL</a></li>
                                
                            </ul>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="ps-footer__copyright">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12  "><a class="ps-logo" href="index.html"><img src="assets/tiendaV/img/logo-black.png" alt=""></a>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12  ">
                        <div class="ps-footer__social">
                            <ul class="ps-list--social">
                                <li><a class="facebook" href="#"><i class="icon-facebook2"></i></a></li>
                                <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                                <li><a class="instagram" href="#"><i class="icon-instagram"></i></a></li>
                                <li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
                                <li><a class="behance" href="#"><i class="icon-behance"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="icon-linkedin2"></i></a></li>
                            </ul>
                            <p>© Copyright 2023 Angel Shadows. Todos los derechos reservados</p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12  ">
                        <div class="ps-footer__payment"><img src="assets/tiendaV/img/payment.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
  <div class="ps-popup" id="subscribe" data-time="100000">
        <div class="ps-popup__content bg--cover" data-background="assets/tiendaV/img/bg/subscribe-popup.jpg"><a class="ps-btn--close ps-popup__close" href="#"></a>
            <form class="ps-form--subscribe-popup" action="" method="post">
                <h3>Extra</h3>
                <h1>40% <br> Off</h1>
                    <h3>2018 Summer sale</h3>
                    <figure>
                        <h4>Our newsletters</h4>
                        <p>Stay Updated on all that’s new add noteworthy</p>
                    </figure>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Join our mailing list">
                        <button class="ps-btn ps-btn--black ps-btn--curve">Subscribe</button>
                    </div>
            </form>
        </div>
    </div> 
    <div id="back2top"><i class="fa fa-angle-up"></i></div>
    <div id="loader-wrapper"><img src="assets/tiendaV/img/loading.png" alt="">
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div> 
   
    <div class="ps-modal" id="login">
        <div class="ps-modal__container"><a class="ps-btn--close ps-btn--no-boder" href="#"></a>
            <div class="ps-modal__content">
                <form class="ps-form--register" action="" method="post">
                    <h3>Become a member <br> Please register</h3>
                        <div class="form-group">
                            <label>Username</label>
                            <input class="form-control" type="text" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Email Address</label>
                            <input class="form-control" type="email" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" type="password" placeholder="">
                        </div>
                        <div class="form-group submit">
                            <button class="ps-btn ps-btn--outline ps-btn--black ps-btn--lg">Register</button>
                            <p>or continue with</p><a class="ps-btn facebook ps-btn--lg" href="#"> Facebook</a>
                            <p>or member to Voye?<a href="login.html"> Login Now</a></p>
                        </div>
                </form>
            </div>
        </div>
    </div> 